<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>

<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<!-- <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
 -->
</head>

<body>
  <div class="container">
  <header th:replace="principal::header"></header>
  <nav th:replace="principal::nav"></nav>
  <section style="margin-left:20%;width:60%;">
    <h1>Producto</h1>
    <form class="m-3" method="POST" action="/grabar" th:object="${producto}">
      <div class="form-group">
        <label>Código del producto</label> <input type="text"
          class="form-control" th:field="*{codigo}"
          placeholder="Ingrese el código" value="">
      </div>
      <div class="form-group">
        <label>Descripción</label> <input type="text" class="form-control"
          th:field="*{descripcion}" placeholder="Ingrese nombre o descripción">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputStock">Stock</label> <input type="number"
            class="form-control" th:field="*{stock}" value="0">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPrecio">Precio</label> <input type="number"
            class="form-control" th:field="*{precio}" step="0.01">
        </div>

      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputCategoria">Categoria</label> <select
            th:field="*{categoria}" class="form-control">
            <option th:each="c:${categorias}" th:value="${c.codigo}"
              th:text="${c.descripcion}"></option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="inputEstado">Estado</label> <select th:field="*{estado}"
            class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="inputProveedor">Proveedor</label> <select
            th:field="*{proveedor}" class="form-control">
            <option th:each="p:${proveedores}" th:value="${p.codigo}"
              th:text="${p.nombre}"></option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Registrar</button>
      <a href="/listar" class="btn btn-primary">Listado</a>
    </form>
    </section>
  </div>
</body>

</html>